name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{matrix.python-version}}
      uses: actions/setup-python@v4
      with:
        python-version: ${{matrix.python-version}}

    - name: Install dependencies
      run: |
        git submodule update --init --recursive
        python -m pip install --upgrade pip poetry
        poetry install

    - name: Run MyPy
      run: |
        poetry run mypy .

    - name: Test with pytest
      run: |
        poetry run pytest --cov=har2tree tests/test.py
        poetry run pytest --cov=har2tree tests/simple_test.py

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
