name: Python application

on:
  push:
    branches: [ main, ete4 ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{matrix.python-version}}
      uses: actions/setup-python@v4
      with:
        python-version: ${{matrix.python-version}}

    - name: Install dependencies
      run: |
        git submodule update --init --recursive
        python -m pip install --upgrade pip poetry

    - run: echo "POETRY_VERSION=$(poetry --version)" >> $GITHUB_ENV
      shell: bash

    - run: poetry config installer.modern-installation false
      # workaround for bug: https://github.com/microsoft/debugpy/issues/1246
      if: ${{ contains(env.POETRY_VERSION, '1.4.1') }}
      shell: bash

    - name: Run MyPy
      run: |
        poetry install -vvv --no-cache
        git clone https://github.com/etetoolkit/ete.git ../ete
        poetry run pip install -e ../ete/
        poetry run mypy .

    - name: Test with pytest
      run: |
        poetry run pytest --cov=har2tree tests/test.py
        poetry run pytest --cov=har2tree tests/simple_test.py

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
